SC/
bem_candidato_2024_BRASIL.csv
consulta_cand_2024_BRASIL.csv
consulta_cand_complementar_2024_BRASIL.csv
consulta_coligacao_2024_BRASIL.csv
rede_social_candidato_2024_BRASIL.csv
BR_Municipios_2022/BR_Municipios_2022.shp

